$color-primary: #404893;
$color-primary-hover: #5e08e8;
$light-gray: #FAFAFC;
$seatcolors: (
        0: #3eb5f1,
        1: #9870ad,
        2: #ee9a9a,
        3: #4a9f66,
        4: #DE507C,
        5: #0F4D5F,
        6: #9F9739,
        7: #450B1D,
        8: #A9248F,
        9: #C54120,
        10: #000,
);
