.n-input-number {
  width: 100%;
}
.n-card.submitted {
  .n-card__content {
    padding-top: 10px;
  }
}
.small-label {
  opacity: 0.5;
  font-size: 80%;
}
.no-list {
  .n-upload-file-list {
    margin-top: 0;
  }
}
